@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 32px;
    }



    .cont
    {
        padding: 0 14px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        height: 34px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 68px;
    }


    .first_section .image
    {
        bottom: -40px;
    }



    /*-------------
        Devices
    -------------*/
    .devices .images .img3
    {
        margin: 0 -52px 20px;
    }


    .devices .images .img1 img,
    .devices .images .img2 img
    {
        width: 112px;
    }

    .devices .images .img3 img
    {
        width: 224px;
    }
}
